{% extends "modelo.html" %}

<!-- Titulo de la pagina -->
{% block title %} Administrar {% endblock %}

<!--Contenido de la pagina-->
{% block content %}

<div class="col-lg-8 mx-auto">
    
   <center> <p> 
      <form action="modificar/" method="GET">
      <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Modificar Encuesta</button></div> 
      </form>

      <form action="formulario/" method="GET">
         <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Formulario Administrador</button></div> 
      </form>
   <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">- - Eliminar - -</h2>
   <form action="/eliminar_seguro" method="GET">
      <p></p>
   <p> Departamento: 
      <select name="deps">
         {% for departamento in departamentos%}
            <option value={{departamento.id}}>{{departamento.nombre_depa}}</option>
         {% endfor %}
      </select>
      <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Eliminar</button></div> 
   </p>
   </form>
 
    {% endblock %}