{% extends "modelo.html" %}

<!-- Titulo de la pagina -->
{% block title %} Administrar {% endblock %}

<!--Contenido de la pagina-->
{% block content %}


    
   <center> <p> 
      <form action="modificar/" method="GET">
      <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Modificar Encuesta</button></div> 
      </form>

      <form action="formulario/" method="GET">
         <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Formulario Administrador</button></div> 
      </form>
   <div> <p></p></div>
   <br></br>
   <br></br>
   <p> Departamento: 
       &nbsp &nbsp &nbsp<select name="OS">
       <option value="1">San Salvador</option> 
       </select>
       &nbsp &nbsp &nbsp<input type="submit" value="Eliminar información">
   </p>
   
   <p>Municipio: 
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<select name="OS">
       <option value="1">San Salvador</option> 
       </select>
       &nbsp &nbsp &nbsp<input type="submit"  value="Eliminar informacion"></center>
  
 
    {% endblock %}