{% extends "modelo.html" %}

{% block title %} Casos Reportados {% endblock %}

<!--Contenido de la pagina-->
{% block content %}
<center>
<h1>Resultado Actuales</h1>
</center>
<div id="graficaTotales"></div>
<div id="graficaProblemas"></div>
<p1>
</p1>
<div id="graficaDepartamentos"></div>

<p1>{{prueba}}</p1>
  <script>
    Morris.Bar({
      element: 'graficaTotales',
        data: [
          {x: 'Problemas Registrados', y: {{cantidad}}, z: {{cantidaAdmin}}, a: {{cantidaA}}},
          {x: 'Estudio', y: {{estudiantes}}, z: {{estudiantesad}}, a: {{estudiantesA}}},
          {x: 'Trabajo', y: {{trabajadores}}, z: {{trabajadorA}}, a: {{trabajadorAn}}},
          {x: 'Personal', y: {{perso}}, z: {{pesoAd}}, a: {{perAn}} }
        ],
      xkey: 'x',
      ykeys: ['y', 'z', 'a'],
      labels: ['Total', 'Administrador', 'Anonimos']
      }).on('click', function(i, row){
      console.log(i, row);
    });
</script>
<script>
  Morris.Bar({
    element: 'graficaProblemas',
    data: [
      {x: 'Problemas Registrados', y: {{cantidad}}, z: {{cantidaAdmin}}, a: {{cantidaA}}}

    ],
    xkey: 'x',
    ykeys: ['y', 'z', 'a', 'b'],
    labels: ['Mala Señal', 'No cuento Con dinero', 'No hay cobertura en mi casa', 'No cuento con un dispositivo']
  }).on('click', function(i, row){
    console.log(i, row);
  });
  </script>

  <script>
    Morris.Bar({
    element: 'graficaDepartamentos',
    data: [
      {x: 'Ahuachapán', y: {{ahu}} },
      {x: 'Santa Ana', y: {{santa}} },
      {x: 'Sonsonate', y: {{sonso}} },
      {x: 'La Libertad', y: {{libetad}} },
      {x: 'Chalatenango', y: {{chalate}} },
      {x: 'San Salvador', y: {{salvador}} },
      {x: 'Cuscatlán', y: {{cusca}} },
      {x: 'La Paz', y: {{paz}} },
      {x: 'Cabañas', y: {{cabañas}} },
      {x: 'San Vicente', y: {{vicente}} },
      {x: 'Usulután', y: {{usulutan}} },
      {x: 'Morazán', y: {{mora}} },
      {x: 'San Miguel', y: {{miguel}} },
      {x: 'La Unión', y: {{union}} }
    ],
    xkey: 'x',
    ykeys: ['y'],
    labels: ['Registrados']
  }).on('click', function(i, row){
    console.log(i, row);
  });
  </script>


{% endblock %}