{% extends "modelo.html" %}

<!-- Titulo de la pagina -->
{% block title %} Modificar {% endblock %}

<!--Contenido de la pagina-->
{% block content %}

    
        <form action="agregar_problema/" method="GET">
            <p>Agregar un problema: <input type="text" name="problema_nuevo" &nbsp class="form-group"> &nbsp&nbsp<button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">agregar </button> 
        </form> </p>

        <form action="agregar_sector/" method="GET">
            <p>Agregar un Sector: <input type="text" name="sector_nuevo" &nbsp class="form-group"> &nbsp&nbsp&nbsp<button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">agregar </button> 
            </form>
         
        <form action="eliminar_problema/" method="GET"> 
        <label for="Problemas">Selecione su Problema:</label>
        <select id="problemas" name="problms">
            {% for problemades in des_problema%}
                <option value={{problemades.id_problema}}>{{problemades.problema_nombre}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Eliminar Problema</button>
        
    

    </p>

        <form action="eliminar_sector/" method="GET"> 
    <p>Eliminar un sector en el que afecta: 
        <label for="sectores">Selecione el area en que resulta afectado:</label>
        <select id="sectores" name="sect">
            {% for sectores in sector_nombres%}
                <option value={{sectores.id_sector}}>{{sectores.sector_nombre}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Eliminar sector</button>
    
    </form>
    </form>    
</div>

{% endblock %}